{
	email admin@masterprorab.ru
	default_sni masterprorab.ru
}

http://109.172.37.155, documentmigrant.ru, www.documentmigrant.ru {
	encode gzip
	reverse_proxy 172.18.0.1:8787
}

masterprorab.ru, www.masterprorab.ru {
	encode gzip
	reverse_proxy app:3000
}
